<a href="https://colab.research.google.com/github/TeeshynaJ/Biopics/blob/main/Biopics_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This project uses the Biopics dataset, which was downloaded as part of a Codility assessment. It shows my attempt at solving the assessment tasks and my approach to working with the dataset.

In [38]:
import pandas as pd
import numpy as np

In [120]:
import pandas as pd

df = pd.read_csv('/content/biopics.csv', encoding='latin1')

In [121]:
print(df.head())

                 title country  year_release  box_office type_of_subject  \
0  10 Rillington Place      UK          1971         NaN        Criminal
1     12 Years a Slave   US/UK          2013  56700000.0           Other
2            127 Hours   US/UK          2010  18300000.0         Athlete
3                 1987  Canada          2014         NaN           Other
4             20 Dates      US          1998    537000.0           Other

     lead_actor_actress
0  Richard Attenborough
1      Chiwetel Ejiofor
2          James Franco
3     Jean-Carl Boucher
4       Myles Berkowitz

In [41]:
#Number of nulls per column

In [122]:
df.isna().sum()

title                   0
country                 0
year_release            0
box_office            324
type_of_subject         0
lead_actor_actress      7
dtype: int64

In [12]:
#Finding out number of duplicate rows

In [123]:
df.duplicated().sum()

np.int64(5)

In [124]:
#Retrieve the duplicated
df[df.duplicated(keep=False)] # keep = flag all duplicates (first and later as True)

,title,country,year_release,box_office,type_of_subject,lead_actor_actress
55,Bandit Queen,UK,1994,400000.0,Criminal,Seema Biswas
71,Bandit Queen,UK,1994,400000.0,Criminal,Seema Biswas
90,Breach,US,2007,33000000.0,Criminal,Chris Cooper
117,Breach,US,2007,33000000.0,Criminal,Chris Cooper
142,Compulsion,US,1959,NaN,Criminal,Dean Stockwell/Bradford Dillman
143,Compulsion,US,1959,NaN,Criminal,Dean Stockwell/Bradford Dillman
536,The Bang Bang Club,Canada,2010,NaN,Media,NaN
537,The Bang Bang Club,Canada,2010,NaN,Media,NaN
538,The Bang Bang Club,Canada,2010,NaN,Media,NaN

In [ ]:
#Drop duplicates

In [125]:
df.drop_duplicates(inplace=True)

In [126]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [title, country, year_release, box_office, type_of_subject, lead_actor_actress]
Index: []

In [ ]:
#Rename the column

In [127]:
df.rename(columns={"box_office" :"earnings"},inplace=True)

In [128]:
print(df.head())

                 title country  year_release    earnings type_of_subject  \
0  10 Rillington Place      UK          1971         NaN        Criminal
1     12 Years a Slave   US/UK          2013  56700000.0           Other
2            127 Hours   US/UK          2010  18300000.0         Athlete
3                 1987  Canada          2014         NaN           Other
4             20 Dates      US          1998    537000.0           Other

     lead_actor_actress
0  Richard Attenborough
1      Chiwetel Ejiofor
2          James Franco
3     Jean-Carl Boucher
4       Myles Berkowitz

In [129]:
df.isna().sum()

title                   0
country                 0
year_release            0
earnings              321
type_of_subject         0
lead_actor_actress      5
dtype: int64

#Drop nulls in earning columns

In [130]:
df.dropna(subset='earnings',inplace=True)

In [131]:
df.isna().sum()

title                 0
country               0
year_release          0
earnings              0
type_of_subject       0
lead_actor_actress    2
dtype: int64

In [ ]:
#keep only movies released inthe year 1990 or later

In [132]:
df[df['year_release']>=1990]

,title,country,year_release,earnings,type_of_subject,lead_actor_actress
1,12 Years a Slave,US/UK,2013,56700000.0,Other,Chiwetel Ejiofor
2,127 Hours,US/UK,2010,18300000.0,Athlete,James Franco
4,20 Dates,US,1998,537000.0,Other,Myles Berkowitz
5,21,US,2008,81200000.0,Other,Jim Sturgess
6,24 Hour Party People,UK,2002,1130000.0,Musician,Steve Coogan
...,...,...,...,...,...,...
743,Wild,US,2014,37900000.0,Other,Reese Witherspoon
744,Wild Bill,US,1995,2170000.0,Historical,Jeff Bridges
745,Wilde,UK,1997,2160000.0,Author,Stephen Fry
750,Without Limits,US,1998,777000.0,Athlete,Billy Crudup
754,Wyatt Earp,US,1994,25100000.0,Other,Kevin Costner

In [ ]:
#convert the type of subject and country to categorical

In [133]:
df.dtypes

title                  object
country                object
year_release            int64
earnings              float64
type_of_subject        object
lead_actor_actress     object
dtype: object

In [134]:
df[['type_of_subject', 'country']]=df[['type_of_subject', 'country']].astype('category')

In [135]:
df.dtypes

title                   object
country               category
year_release             int64
earnings               float64
type_of_subject       category
lead_actor_actress      object
dtype: object

In [111]:
#create a new variable called lead_actor_actress_known that is false if lead_actor_actreess is Nan and True otherwise

In [136]:
df=df.assign(lead_actor_actress_known= df['lead_actor_actress'].notna())

In [137]:
print(df)

                    title country  year_release    earnings type_of_subject  \
1        12 Years a Slave   US/UK          2013  56700000.0           Other
2               127 Hours   US/UK          2010  18300000.0         Athlete
4                20 Dates      US          1998    537000.0           Other
5                      21      US          2008  81200000.0           Other
6    24 Hour Party People      UK          2002   1130000.0        Musician
..                    ...     ...           ...         ...             ...
745                 Wilde      UK          1997   2160000.0          Author
746                Wilson      US          1944   2000000.0    World leader
748                 Wired      US          1989   1090000.0        Comedian
750        Without Limits      US          1998    777000.0         Athlete
754            Wyatt Earp      US          1994  25100000.0           Other

    lead_actor_actress  lead_actor_actress_known
1     Chiwetel Ejiofor                      True
2         James Franco                      True
4      Myles Berkowitz                      True
5         Jim Sturgess                      True
6         Steve Coogan                      True
..                 ...                       ...
745        Stephen Fry                      True
746     Alexander Knox                      True
748    Michael Chiklis                      True
750       Billy Crudup                      True
754      Kevin Costner                      True

[437 rows x 7 columns]

In [ ]:
#update earnings such thet are expressed in millions of dollars instead of dollars

In [138]:
df['earnings']=df['earnings']/1_000_000

In [139]:
print(df)

                    title country  year_release  earnings type_of_subject  \
1        12 Years a Slave   US/UK          2013    56.700           Other
2               127 Hours   US/UK          2010    18.300         Athlete
4                20 Dates      US          1998     0.537           Other
5                      21      US          2008    81.200           Other
6    24 Hour Party People      UK          2002     1.130        Musician
..                    ...     ...           ...       ...             ...
745                 Wilde      UK          1997     2.160          Author
746                Wilson      US          1944     2.000    World leader
748                 Wired      US          1989     1.090        Comedian
750        Without Limits      US          1998     0.777         Athlete
754            Wyatt Earp      US          1994    25.100           Other

    lead_actor_actress  lead_actor_actress_known
1     Chiwetel Ejiofor                      True
2         James Franco                      True
4      Myles Berkowitz                      True
5         Jim Sturgess                      True
6         Steve Coogan                      True
..                 ...                       ...
745        Stephen Fry                      True
746     Alexander Knox                      True
748    Michael Chiklis                      True
750       Billy Crudup                      True
754      Kevin Costner                      True

[437 rows x 7 columns]

In [140]:
df['earnings'].head()

1    56.700
2    18.300
4     0.537
5    81.200
6     1.130
Name: earnings, dtype: float64

In [ ]:
#Reorder the columns in the dataframe such that they are in the following order: title, year_release,earnings,country,type of subject,lead_actor actress , lead_Actor_actree known

In [141]:
df.columns

Index(['title', 'country', 'year_release', 'earnings', 'type_of_subject',
       'lead_actor_actress', 'lead_actor_actress_known'],
      dtype='object')

In [142]:
new_df=df[['title', 'year_release','earnings','country','type_of_subject','lead_actor_actress','lead_actor_actress_known']]

In [ ]:
#sort the rows in descendibg order by earnings

In [143]:
new_df.sort_values(by='earnings',ascending=False, inplace=True)

In [144]:
new_df.head()

,title,year_release,earnings,country,type_of_subject,lead_actor_actress,lead_actor_actress_known
38,American Sniper,2014,350.0,US,Military,Bradley Cooper,True
547,The Blind Side,2009,256.0,US,Athlete,Quinton Aaron,True
334,Lincoln,2012,182.0,US,World leader,Daniel Day-Lewis,True
11,A Beautiful Mind,2001,171.0,US,Academic,Russell Crowe,True
124,Catch Me If You Can,2002,164.0,US/Canada,Criminal,Leonardo DiCaprio,True